/* Base Application Styles */

body,
ul {
	/*color: #fff;*/
	/*background: #222;*/
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.header-box{
	/*background: white;*/
	background: #f8f8f8;
}
.header-box h1{
	color: black !important;
}
.header-contain .am-menu-dropdown1 .am-menu-toggle{
	color:#ffcc3b !important;
}
.header-contain .am-menu-dropdown1 .am-menu-nav>li>a {
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
    color: black !important;
}
.header-contain .am-menu-dropdown1 .am-menu-nav>li>a:hover{
	background: #ffcc3b !important;
	color: white !important;
}
.header-box .am-menu-nav>li>a{
	background: white !important;
	color: black !important;
}
.index img {
	margin: 40px auto;
	border-radius: 4px;
	background: #fff;
	display: block;
}

.page-title {
	position: fixed;
	z-index: 990;
	top: 0
}
.index .notice {
	margin: 20px auto;
	padding: 15px 0;
	text-align: center;
	border: 1px solid #000;
	border-width: 1px 0;
	background: #666;
}

.banner-design {
	position: absolute;
	z-index: 2;
	top: 30%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.banner-design>p,
.banner-design>h2 {
	text-align: center;
	color: white;
}

.special-title {
	width: 100%;
	margin:0 0 20px 0;
	padding: 0 15px;
}

.special-title>p {
	text-align: center;
	margin: 0;
}

.special-p {
	color: #ff9d1b;
	margin: 0;
	text-align: center;
}
.special-content{
	width: 80%;
	margin: 0 auto;
  margin-top: 30px;
}
.marginTop{
	margin-top: 0;
	transition: all linear 0.5s;
}
.special-content>.am-gallery-title {
	float: left;
	margin-top: 5px;
}

.special-content>div {
	float: right;
	margin-top: 5px;
}

.aboutus-design {
	text-indent: 2em;
}
.aboutus-describe{
	padding: 0 15px;
}
.aboutus-img {
	width: 100%;
}

.aboutus-img>img {
	display: inline-block;
	width: 100%;
}

.first-box {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
}

.first-box>h3,
.first-box>p {
	text-align: center;
	margin: 0;
}

.boss-img {
	/*width: 100%;*/
	padding: 15px;
}

.boss-img>img {
	display: block;
	width: 100%;
}

.welcome-box {
	/*width: 60%;*/
	padding:15px;
}

.welcom-ul>li {
	list-style: none;
}

.welcom-ul>li>span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-right: 10px;
	background: #ffb332;
}
/*================菜单食谱=======*/
.img-list {
	padding: 10px 0;
}

.img-list>div {
	margin-top: 30px;
}

.aboutus-title {
	margin-bottom: 0;
}

.connact-address {
	padding: 15px;
}

.connact-address>p>span {
	padding-left: 5px;
}

.img-contain {
	width: 100%;
	padding: 10px;
	/*height: 145px;*/
	overflow: hidden;
}

.img-contain>img {
	display: inline-block;
	width: 100%;
}

.food-price-box {
	width: 100%;
	padding: 0 15px;
}

.food-price-box .food-name {
	float: left;
	margin: 0;
	font-size: 16px;
}

.food-price-box .food-price {
	float: right;
	margin: 0;
	font-size: 16px;
}
.food-list{
	width: 80%;
}
.food-list>div:last-child {
	float: left !important;
}
.about-designP{
	position: absolute;
	z-index: 5;
	top:30%;
		width: 100%;
	text-align: center;
}
.about-rigth-imgbox{
	height: 330px;
	overflow: hidden;
}
.about-last-box{
	margin-bottom: 15px;
}
.work-content-box{
	position: absolute;
	z-index: 2;
	left: 25%;
	top:15%;
	width: 25%;
	padding: 50px 20px;
	background: rgba(225,225,225,.3);
	color: white;
}

.footer-box{
	background: #222222;
}
/*=============关于我们=================*/
.about-box img{
	display: block;
	width: 100%;
}

h3.about-design,p.about-design{
	margin-bottom: 0;
}
p.about-design{
	margin-top: 0.6rem;
}
.about-rigth-imgbox img{
	display: block;
	width: 100%;
}
.about-left-box{
	margin: 20px 0;
}

.about-designP .about-title{
	text-align: center;
	color: white;
}

.work-box{
	width: 100%;
	height: 450px;
	position: relative;
	background: url('../images/bg1.jpg') no-repeat center 100%;
}
.work-content-box h3{
	text-align: center;
}
.work-content-box p span{
	color: #10a6ac;
	margin-left: 0.5em;
}
.work-content-box p{
	margin: 0;
}
.work-time{
	text-indent: 3em;
}
.work-dinner{
	margin-top: 20px !important;
}

/*==========在线预约=========*/
.order-contain{
	background: #f6f4f4;
}
.order-box img{
	display: block;
	width: 100%;
}
.order-title{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	position: relative;
	top:-80px;
	background: #fff;
	/*border: 1px solid red;*/
}
.order-title-p{
	text-align: center;
	padding: 25px;
	/*line-height: 150px;*/
}
.order-title-p>span{
	color: red;
	font-size: 2em;
}
.order-title-p>h3{
		color: red;
	margin: 0;
}
.order-form{
	margin-top: -60px;
	margin-bottom: 20px;
}
.order-form input{
	padding: 10px !important;
	border-radius: 8px !important;
}
.order-form .react-datepicker__input-container,.order-form .react-datepicker-wrapper{
	width: 100%;
}
.submit-p{
	text-align: center;
}
.submit-p>button{
	width: 80%;
}
@media screen and (max-width:767px) {
	.welcom-ul {
		display: none;
	}
	.welcome-box h3{
		display: none;
	}
	.welcome-box p {
		margin-top: 0;
		text-align: center;
	}
	.about-design{
	text-align: center;
}
.about-rigth-imgbox{
	display: none;
}
.about-designP{
	position: absolute;
	z-index: 5;
	top:10%;
}
.work-content-box{
	left: 15%;
	width: 70%;
	padding: 50px 20px;

}
.img-contain {
	height:103px;
}
}
@media (min-width:768px) and (max-width:1024px){
	.img-contain {
	height: 90px;
}
}
@media (min-width:1024px) and (max-width:1349px){
	.img-contain {
	height: 140px;
}
}
@media (min-width:1349px){
	.img-contain {
	height: 180px;
}
}
